<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js">
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7RDAq6Ei7au_EByvVb_1MCLnKpnNtpHM&v=3.exp&sensor=false&libraries=places"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
        rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script
        src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <meta charset="utf-8">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>
    <div class="ui container">
        <br>
        <div class="ui secondary pointing menu">
            <a class="active item nva" href="/addCandidate">
                <i class="address card outline icon"></i>Add Candidate</a>
            
            <a class="item nav" href="/getAllCandidates">
                <i class="user icon"></i>View all candidates</a>
        
        </div>


        <h1 class="ui header">Add NEW CANDIDATE</h1>
        <br>

        <%# Form for adding Candidate%>
        <form  class="ui form" action="/addCandidate" method="post">
            <div class="fields">
                <div class="field">
                    <div class="required field">
                        <label>Aadhaar Number</label>
                        <input  required name="aadhaarNumber"  type="text" placeholder="aadhaarNumber" maxlength="12" minlength="12">
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Address</label>
                        <input id="searchTextField" type="text" size="50" required name="address">
                        <script>
                            function initialize() {
                                var input = document.getElementById('searchTextField');
                                const result = new google.maps.places.Autocomplete(input);
                                console.log('result::::',result);
                                
                            }
                            google.maps.event.addDomListener(window, 'load', initialize);
                        </script>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Name</label>
                        <input  required name="name" type="text" placeholder="name">
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Phone Number</label>
                        <input  required name="phone1" type="text" placeholder="phone1" minlength="10" maxlength="10">
                    </div>
                </div>

            </div>
            <div class="fields">
                <div class="field">
                    <div class="required field">
                        <label>D.O.B.</label>
                        <div class="ui calendar" id="date">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input required name="DOB" type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Alternate Phone</label>
                        <input  required name="phone2" type="text" placeholder="phone2" minlength="10" maxlength="10">
                    </div>
                </div>
                <div class="field">
                    <label>Email ID</label>
                    <input  required name="mailId" type="email" placeholder="mailId">
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Gender</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="gender" placeholder="gender">
                            <i class="dropdown icon"></i>
                            <div class="default text">Gender</div>
                            <div class="menu">
                                <div class="item" data-value="Male">Male</div>
                                <div class="item" data-value="Female">Female</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Source</label>
                        <!-- <input  required name="source" type="text" placeholder="source"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="source" placeholder="source">
                            <i class="dropdown icon"></i>
                            <div class="default text">source</div>
                            <div class="menu">
                                <div class="item" data-value="Event">Event</div>
                                <div class="item" data-value="Roadshow">Roadshow</div>
                                <div class="item" data-value="Referral">Referral</div>
                                <div class="item" data-value="Word of mouth">Word of mouth</div>
                                <div class="item" data-value="Press">Press</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="required field">
                        <label>Source Type</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="sourceType" placeholder="sourceType">
                            <i class="dropdown icon"></i>
                            <div class="default text">sourceType</div>
                            <div class="menu">
                                <div class="item" data-value="Inbound">Inbound</div>
                                <div class="item" data-value="Outbound">Outbound</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Employment Status</label>
                        <!-- <input  required name="employmentStatus" type="text" placeholder="employmentStatus"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="employmentStatus" placeholder="employmentStatus">
                            <i class="dropdown icon"></i>
                            <div class="default text">employmentStatus</div>
                            <div class="menu">
                                <div class="item" data-value="Self - employed">Self - employed</div>
                                <div class="item" data-value="Unemployed">Unemployed</div>
                                <div class="item" data-value="Employed">Employed</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Occupation</label>
                        <!-- <input  required name="occupation" type="text" placeholder="occupation"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="occupation" placeholder="occupation">
                            <i class="dropdown icon"></i>
                            <div class="default text">occupation</div>
                            <div class="menu">
                                <div class="item" data-value="Farmer">Farmer</div>
                                <div class="item" data-value="Mason">Mason</div>
                                <div class="item" data-value="Poultry Farmer">Poultry Farmer</div>
                                <div class="item" data-value="Shopkeeper">Shopkeeper</div>
                                <div class="item" data-value="Mechanic">Mechanic</div>
                                <div class="item" data-value="Teacher">Teacher</div>
                                <div class="item" data-value="Housewife">Housewife</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="required field">
                        <label>Current Annual Income</label>
                        <!-- <input  required name="currentAnnualIncome" type="text" placeholder="currentAnnualIncome"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="currentAnnualIncome" placeholder="currentAnnualIncome">
                            <i class="dropdown icon"></i>
                            <div class="default text">currentAnnualIncome</div>
                            <div class="menu">
                                <div class="item" data-value="<2 lacs/annum">< 2 lacs / annum</div>
                                <div class="item" data-value="2-5 lacs/annum">2 - 5 lacs / annum</div>
                                <div class="item" data-value="5-10 lacs/annum">5 - 10 lacs / annum</div>
                                <div class="item" data-value="10-20 lacs/annum">10 - 20 lacs / annum</div>
                                <div class="item" data-value=">20 lacs/annum">> 20 lacs / annum</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Educational Qualification</label>
                        <!-- <input  required name="educationalQualification" type="text" placeholder="educationalQualification"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="educationalQualification" placeholder="educationalQualification">
                            <i class="dropdown icon"></i>
                            <div class="default text">educationalQualification</div>
                            <div class="menu">
                                <div class="item" data-value="Never went to school">Never went to school</div>
                                <div class="item" data-value="5th pass">5th pass</div>
                                <div class="item" data-value="8th pass">8th pass</div>
                                <div class="item" data-value="10th pass">10th pass</div>
                                <div class="item" data-value="12th pass">12th pass</div>
                                <div class="item" data-value="Diploma">Diploma</div>
                                <div class="item" data-value="Graduate">Graduate</div>
                                <div class="item" data-value="Post-graduate">Post - graduate</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>No. of Successful Enterprises</label>
                        <input  required name="noOfSuccessfulEnterprises" type="number" placeholder="noOfSuccessfulEnterprises">
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>No. of Failed Enterprises</label>
                        <input  required name="noOfFailedEnterprises" type="number" placeholder="noOfFailedEnterprises">
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Has Banck Account</label>
                        <!-- <input  required name="hasBankAccount" type="text" placeholder="hasBankAccount"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="hasBankAccount" placeholder="hasBankAccount">
                            <i class="dropdown icon"></i>
                            <div class="default text">hasBankAccount</div>
                            <div class="menu">
                                <div class="item" data-value="Y">Yes</div>
                                <div class="item" data-value="N">No</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="required field">
                        <label>Has Credit Card History</label>
                        <!-- < input  required name="hasCreditHistory" type="text" placeholder="hasCreditHistory"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="hasCreditHistory" placeholder="hasCreditHistory">
                            <i class="dropdown icon"></i>
                            <div class="default text">hasCreditHistory</div>
                            <div class="menu">
                                <div class="item" data-value="Y">Yes</div>
                                <div class="item" data-value="N">No</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Has Assets</label>
                        <!-- <input  required name="hasAssessets" type="text" placeholder="hasAssessets"> -->
                        <div class="ui fluid multiple search normal selection dropdown">
                            <input type="hidden" required name="hasAssets" placeholder="hasAssessets">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select </div>
                            <div class="menu">
                                <div class="item" data-value="None"> None</div>
                                <div class="item" data-value="Land">Land</div>
                                <div class="item" data-value="House">House</div>
                                <div class="item" data-value="Shop">Shop</div>
                                <div class="item" data-value="Vehicles">Vehicles </div>
                                <div class="item" data-value="Cattle">Cattle</div>
                                <div class="item" data-value="Others">Others</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Needs Training</label>
                        <!-- <input  required name="needsTraining" type="text" placeholder="needsTraining"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="needsTraining" placeholder="needsTraining">
                            <i class="dropdown icon"></i>
                            <div class="default text">needsTraining</div>
                            <div class="menu">
                                <div class="item" data-value="Y">Yes</div>
                                <div class="item" data-value="N">No</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="required field">
                        <label>Status</label>
                        <!-- <input  required name="status" type="text" placeholder="status"> -->
                        <div class="ui selection dropdown">
                            <input type="hidden" required name="status" placeholder="status">
                            <i class="dropdown icon"></i>
                            <div class="default text">status</div>
                            <div class="menu">
                                <div class="item" data-value="Interested in exploring">Interested in exploring</div>
                                <div class="item" data-value="Mason">Mason</div>
                                <div class="item" data-value="Poultry Farmer">Poultry Farmer</div>
                                <div class="item" data-value="Undergoing Training">Undergoing Training</div>
                                <div class="item" data-value="Training Complete">Training Complete</div>
                                <div class="item" data-value="Stream identified">Stream identified</div>
                                <div class="item" data-value="Resume made">Resume made</div>
                                <div class="item" data-value="Resume submitted">Resume submitted</div>
                                <div class="item" data-value="Resume sent for processing">Resume sent for processing</div>
                                <div class="item" data-value="Resume declined">Resume declined</div>
                                <div class="item" data-value="Resume accepted">Resume accepted</div>
                                <div class="item" data-value="Due diligence">Due diligence</div>
                                <div class="item" data-value="Background check">Background check</div>
                                <div class="item" data-value="Job offer received">Job offer received</div>
                                <div class="item" data-value="No longer interested">No longer interested</div>
                                <div class="item" data-value="Deceased">Deceased</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="submit" class="ui basic blue button"  value="Submit">
        </form>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>

<script>
    $('#date').calendar({
        type: 'date'
    });
    
    $(document).ready(function () {
            $('.ui .item .nav').on('click', function () {
                $('.ui .item .nav').removeClass('active');
                $(this).addClass('active');
            });
        });

    $('.ui.dropdown').dropdown();

</script>

</body>

</html>